body {
  background-color: #f0e0f3;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #2e044f;
  font-family: Verdana, sans-serif;
}

p {
  color: #0c0219;
  font-family: Georgia, serif;
}

div {
  width: 300px;
  height: 150px;
  background-color: #f8f7fa;
  border: 3px solid #530482;
  padding: 20px;
  margin: 30px;
}
